[user]
	email = darius.sas@outlook.com
	name = Darius Sas
[core]
	editor = nvim
[init]
	defaultBranch = master
[pull]
	rebase = false
[alias]
	adog = log --all --decorate --oneline --graph
	co = checkout
	cm = commit --message
	rao = remote add origin
	permission-reset = !git diff -p -R --no-ext-diff --no-color --diff-filter=M | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
