[user]
	email = darius.sas@outlook.com
	name = Darius Sas
[core]
	editor = nvim
[init]
	defaultBranch = master
[pull]
	rebase = false
[alias]
	adog = log --all --decorate --oneline --graph
	co = checkout
	cm = commit --message
